@import "primeicons/primeicons.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #f5f6fa;
  color: #334155;
}

a {
  color: inherit;
}

.p-button {
  border-radius: 6px;
}

.p-dialog .p-dialog-content {
  padding-top: 0.75rem;
}

